@media screen and (max-width:1100px){
  .imeges{
    width: 100%;
    height: max-content;
    padding: 15px 0;
  }
  
  .imeges>.im{
    width: 50%;
    height: 400px;
  }

	.circle{
		height: 120px;
		width: 120px;
	}

	.fourth>img{
		height: 400px;
	}

	.fourth{
		gap: 3%;
		margin-top: 40px;
		padding: 0;
	}

	.btn-blue{
		min-width: 200px;
	}

	.circle{
		left: 62%;
	}

	.f-tx{
		box-sizing: border-box;
		top: 40px;
		width: 37%;
	}

	
	.fif-tx{
		font-size: 14px;
		width: 100%;
	}

	.fifth{
		flex-direction: column;
		height: max-content;
	}
}



	/*////////////						////////////					//////////////
							//						//										//					//
							//						//										//					//
							//						//										//					//
							//						////////////					//					//
							//						////////////					//					//
							//											//					//					//
							//											//					//					//
							//											//					//					//
							//						////////////					////////////*/





@media screen and (max-width:750px) {
  .first{
    flex-wrap: wrap;
    gap: 25px;
    padding: 50px 0;
  }

  .more-info, .main-info{
    width:  100%;
    font-size: 8px;
  }

  .main-info>p{
    margin-bottom: 10px;
  }

  .contain{
    padding: 30px;
  }

  .block-descript{
    height: max-content;
    width: 100%;
  }
  
  .imeges{
    flex-direction: column;
  }
  
  .second>h3, .third>h3{
    font-size: 40px;
    font-weight: 300;
  }

  .third{
    padding: 15px 0;
  
	}

  .second>p, .third>p{
    font-size: 16px;
    width: 100%;
    margin: 10px 0;
  }

  .second{
    margin:  15px 0px 0;
  }

  .imeges>.im{
    width: 100%;
  }
	
	.fourth{
		margin-top: 40px;
		padding: 0;
		flex-direction: column;
		gap: 5%;
	}

	.fourth>img{
		width: 100%;
		background-size: cover;
	}

	.circle{
		display: none;
		height: 0;
	}

	.f-tx{
		width: 100%;
		top: 0;
	}

	.sixth{
		flex-direction: column;
		padding: 15px 0;
	}

	.block-six{
		width: 100%;
		display: flex;
	}

	.imm-six,.about-us,.zitata{
		height: 400px;
		min-width: 50%;
		background-position: center;
		background-size: cover;
	}

	.imm-six-second{
		background-position-y: 10%;
	}

	.imm-six-first{
		background-position-y: 16%;
	}

	.about-us{
		padding: 20px;
		margin-top: 0;
	}

	.se-inner{
		flex-direction: column;
		width: 90%;
	}

	.se-inner>.txt{
		width: 100%;
	}

	.imm-se{
		width: 100%;
	}

	.ei-imeges{
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(2, 1fr);
		padding: 0 30px;
	}

	.imm-eigh{
		height: 180px;
	}

	.eigth>.txt{
		left: 70%;
		width: 60%;
		transform: translateX(-50%);
		padding: 20px;
	}

	.contact_with_us{
		grid-template-columns: 1fr;
		gap: 15px;
		width: 90%;
		min-width: 470px;
	}
}




/*				//						////////////					//////////////
//        //						//				//					//					//
//        //						//				//					//					//
//				//						//				//					//					//
//				//						////////////					//					//
///////////480					////////////					//					//
					//						//				//					//					//
					//						//				//					//					//
					//						//				//					//					//
					//						////////////					////////////*/						





@media screen and (max-width:480px) {
    header {
    padding: 5px;
  }

  .menu-inner span{
    display: flex;
    justify-content: right;
    width: 25px;
    height: 3px;
    background-color: #000;
    position: relative;
    transform: scale(1);
    transition: all 0.35s linear;
  }
  
  .menu-inner::before {
    content: '';
    position: absolute;
    top: -8px;
    width: 120%;
    height: 100%;
    background-color: #000;
    transition: all 0.35s linear;
  }
  
  .menu-inner::after {
    content: '';
    position: absolute;
    top: 8px;
    width: 80%;
    height: 100%;
    background-color: #000;
    transition: all 0.35s linear;
  }

  .header-inner-right>.contacts{
    position: absolute;
    opacity: 0;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    padding: 30px 10px;
    background-color: rgba(128, 128, 128, 0.685);
    transition: all .4s linear;
    display: flex;
    flex-direction: column;
    padding: 60px 15px;
  }

  #menu{
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end; 
    align-items: flex-end;
  }

  .menu-inner.active-btn span{
    transform: scale(0);
    transition: all 0.2s linear;
  }

  .menu-inner.active-btn::after,.menu-inner.active-btn::before{
    top: 0;
    width: 100%;
  }

  .menu-inner.active-btn::after{
    transform: rotate(-315deg);
  }

  .menu-inner.active-btn::before{
    transform: rotate(315deg);
  }
  
  .contain{
    padding: 15px;
  }

  .first{
    gap: 0;
  }
  
  .main-info, .more-info{
    font-size: 7px;
    margin-bottom: 20px;
  }
  .btn-ping{
    min-width: 180px;
    font-size: 20px;
  }

  .header-inner-right>.active{
    opacity: 1;
    left: 0;
  }

  body.lock {
    overflow: hidden;
  }

  .block-descript{
    height: max-content;
    margin: 0;
  }

  .block-descript{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .imeges>.im{
    height: 260px;
  }

	.fourth{
		margin: 20px 0 0;
		padding: 0;
	}

	.fourth>img{
		height: 300px;
	}

	.fifth{
		padding: 25px 0;
	}

	.fif-tx{
		font-size: 11px;
		width: 100%;
	}

	.block-six{
		display: block;
	}

	.about-us,.zitata{
		height: 300px;
		padding: 5px;
		overflow: hidden;
	}

	.zitata>p{
		font-size: 30px;
	}

	.seventh{
		padding: 0%;
	}

	.se-inner{
		width: 100%;
	}

	.se-inner::after{
		display: none;
	}

	.se-inner::before{
		display: none;
	}

	.bgggra-ei{
		width: 100%;
		height: 105%;
		top: -50px;
	}

	.ei-imeges{
		grid-template-rows: repeat(6, 1fr);
		grid-template-columns: repeat(1, 1fr);
		padding: 0;
	}

	.imm-eigh{
		height: 250px;
	}

	.eigth .txt{
		margin-top: 15px;
		transform: translate(0,0);
		position: static;
		width: 100%;
	}

	.eigth{
		padding: 50px 10px;
		height: max-content;
	}

	.nineth{
		padding: 0;
	}

	.contact_with_us{
		grid-template-columns: 1fr;
		gap: 15px;
		border-radius: 0;
		width: 100%;
		min-width: 0px;
	}

	.inputs{
		font-size: 14px;
	}

	.info_cwu-iiner{
		font-size: 8px;
	}
}



/*///////////270       ///////////////              ////////////////
							//										//							//						//
							//										//							//						//
							//										//							//						//
							//										//							//						//
////////////////										//							//						//
//																	//							//						//
//																	//							//						//
//																	//							//						//
//																	//							//						//
////////////////										//							//////////////*/



@media screen and (max-width: 270px) {
	.btn-blue {
    min-width: 150px;
		font-size: 15px;
	}

	.f-tx>h3{
		font-size: 23px;
	}

	.f-tx>p{
		font-size: 16px;
	}

	.main-info>h1{
		font-size: 24px;
	}

	.inputs{
		width: 100%;
	}
}
